<div>
    <p>Нажми</p>
    <p>
        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()">
            Кнопка
        </button>
    </p>
    <div style="min-height: 100px; min-width: 100px">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true">
            <div class="card">
                <div class="card-body">
                    <img src="../assets/img/cats.jpg" alt="cat" height="600" width="600" />
                </div>
            </div>
        </div>
    </div>
</div>
